In [1]:
import pyspark
from pyspark.sql import *

In [2]:
spark = SparkSession.builder \
    .appName("SampleSparkCode") \
    .getOrCreate()

In [3]:
data = [Row("Dinesh","34")]
df = spark.createDataFrame(data)
df.show()

+------+---+
|    _1| _2|
+------+---+
|Dinesh| 34|
+------+---+

In [4]:
spark.sql("select * from {df}",df=df).show()

+------+---+
|    _1| _2|
+------+---+
|Dinesh| 34|
+------+---+

----------------------------------------
Exception occurred during processing of request from ('127.0.0.1', 46988)
Traceback (most recent call last):
  File "c:\Users\Champ\anaconda3\Lib\socketserver.py", line 317, in _handle_request_noblock
    self.process_request(request, client_address)
  File "c:\Users\Champ\anaconda3\Lib\socketserver.py", line 348, in process_request
    self.finish_request(request, client_address)
  File "c:\Users\Champ\anaconda3\Lib\socketserver.py", line 361, in finish_request
    self.RequestHandlerClass(request, client_address, self)
  File "c:\Users\Champ\anaconda3\Lib\socketserver.py", line 755, in __init__
    self.handle()
  File "c:\Users\Champ\anaconda3\Lib\site-packages\pyspark\accumulators.py", line 295, in handle
    poll(accum_updates)
  File "c:\Users\Champ\anaconda3\Lib\site-packages\pyspark\accumulators.py", line 267, in poll
    if self.rfile in r and func():
                           ^^^^^^
  File "c:\Users\Champ\anaconda3\Lib\site-packages\pyspark\accumulators.py", line 271, in accum_updates
    num_updates = read_int(self.rfile)
                  ^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\Champ\anaconda3\Lib\site-packages\pyspark\serializers.py", line 594, in read_int
    length = stream.read(4)
             ^^^^^^^^^^^^^^
  File "c:\Users\Champ\anaconda3\Lib\socket.py", line 706, in readinto
    return self._sock.recv_into(b)
           ^^^^^^^^^^^^^^^^^^^^^^^
ConnectionResetError: [WinError 10054] An existing connection was forcibly closed by the remote host
----------------------------------------

In [5]:
df_address = spark.read.csv("..\data\Address.csv",header=True)
df_address.show(5)
#spark.stop()

+---------+-------------------+------------+--------+-------------+-------------+----------+--------------------+--------------------+
|AddressID|       AddressLine1|AddressLine2|    City|StateProvince|CountryRegion|PostalCode|             rowguid|        ModifiedDate|
+---------+-------------------+------------+--------+-------------+-------------+----------+--------------------+--------------------+
|        9|  8713 Yosemite Ct.|        NULL| Bothell|   Washington|United States|     98011|268af621-76d7-4c7...|2006-07-01 00:00:...|
|       11|1318 Lasalle Street|        NULL| Bothell|   Washington|United States|     98011|981b3303-aca2-49c...|2007-04-01 00:00:...|
|       25|   9178 Jumping St.|        NULL|  Dallas|        Texas|United States|     75201|c8df3bd9-48f0-465...|2006-09-01 00:00:...|
|       28|   9228 Via Del Sol|        NULL| Phoenix|      Arizona|United States|     85004|12ae5ee1-fc3e-468...|2005-09-01 00:00:...|
|       32|  26910 Indela Road|        NULL|Montreal|       Quebec|       Canada|   H1Y 2H5|84a95f62-3ae8-4e7...|2006-08-01 00:00:...|
+---------+-------------------+------------+--------+-------------+-------------+----------+--------------------+--------------------+
only showing top 5 rows

In [10]:
spark.sql("select count(*), City from {df} group by City",df=df_address).show()

+--------+----------------+
|count(1)|            City|
+--------+----------------+
|       1|      Pnot-Rouge|
|       1|     Springfield|
|       1| North Las Vegas|
|       1|          Auburn|
|       4|         Phoenix|
|       2|        Winnipeg|
|       1|   Lake Elsinore|
|       1|       Bountiful|
|       2|       Clackamas|
|       1|          Monroe|
|       1|        Westland|
|       2|     Culver City|
|       1|         Hanford|
|       4|         Bothell|
|       3|         Everett|
|       6|          Ottawa|
|       1|North Sioux City|
|       1|        Lewiston|
|       6|          Dallas|
|       1|     Great Falls|
+--------+----------------+
only showing top 20 rows

In [11]:
df_address = spark.read.csv("..\data\Address.csv",header=True)
df_customer = spark.read.csv("..\data\Customer.csv",header=True)
df_customer_address = spark.read.csv("..\data\CustomerAddress.csv",header=True)

In [13]:
df_dim_customer_address = df_customer.join(df_customer_address,df_customer.CustomerID==df_customer_address.CustomerID) \
                                    .join(df_address,df_customer_address.AddressID==df_address.AddressID)
df_dim_customer_address.count()

417

In [15]:
spark.sql("select count(*) as Address_Count, StateProvince from {df} group by StateProvince",df=df_dim_customer_address).show()

+-------------+----------------+
|Address_Count|   StateProvince|
+-------------+----------------+
|            9|            Utah|
|            1|        Manitoba|
|            1|       Brunswick|
|            7|       Minnesota|
|           17|          Oregon|
|           37|           Texas|
|           13|         Alberta|
|            7|          Nevada|
|           48|      Washington|
|           14|        Illinois|
|            3|      New Mexico|
|           11|        Missouri|
|           51|         Ontario|
|            3|         Montana|
|           16|        Michigan|
|           17|British Columbia|
|            4|         Wyoming|
|           24|          Quebec|
|           13|         Arizona|
|           38|         England|
+-------------+----------------+
only showing top 20 rows

In [16]:
spark.stop()