In [11]:
import pyspark
from pyspark.sql import *

In [12]:
spark = SparkSession.builder \
    .appName("SampleSparkCode") \
    .getOrCreate()

In [13]:
data = [Row("Dinesh","34")]
df = spark.createDataFrame(data)
df.show()

+------+---+
|    _1| _2|
+------+---+
|Dinesh| 34|
+------+---+

In [15]:
df_address = spark.read.csv("..\data\Address.csv",header=True)
df_address.show(5)
#spark.stop()

+---------+-------------------+------------+--------+-------------+-------------+----------+--------------------+--------------------+
|AddressID|       AddressLine1|AddressLine2|    City|StateProvince|CountryRegion|PostalCode|             rowguid|        ModifiedDate|
+---------+-------------------+------------+--------+-------------+-------------+----------+--------------------+--------------------+
|        9|  8713 Yosemite Ct.|        NULL| Bothell|   Washington|United States|     98011|268af621-76d7-4c7...|2006-07-01 00:00:...|
|       11|1318 Lasalle Street|        NULL| Bothell|   Washington|United States|     98011|981b3303-aca2-49c...|2007-04-01 00:00:...|
|       25|   9178 Jumping St.|        NULL|  Dallas|        Texas|United States|     75201|c8df3bd9-48f0-465...|2006-09-01 00:00:...|
|       28|   9228 Via Del Sol|        NULL| Phoenix|      Arizona|United States|     85004|12ae5ee1-fc3e-468...|2005-09-01 00:00:...|
|       32|  26910 Indela Road|        NULL|Montreal|       Quebec|       Canada|   H1Y 2H5|84a95f62-3ae8-4e7...|2006-08-01 00:00:...|
+---------+-------------------+------------+--------+-------------+-------------+----------+--------------------+--------------------+
only showing top 5 rows