In [1]:
import pyspark
from pyspark.sql import *

In [2]:
spark = SparkSession.builder \
    .appName("SampleSparkCode") \
    .getOrCreate()

your 131072x1 screen size is bogus. expect trouble
25/03/07 09:23:14 WARN Utils: Your hostname, WDSCBELT456 resolves to a loopback address: 127.0.1.1; using 10.255.255.254 instead (on interface lo)
25/03/07 09:23:14 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/03/07 09:23:15 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
data = [Row("Dinesh","34")]
cols = ['Name','Age']
df_test = spark.createDataFrame(data,schema=cols)
df_test.show()

+------+---+
|  Name|Age|
+------+---+
|Dinesh| 34|
+------+---+

In [5]:
spark.sql("select * from {df}",df=df_test).show()

+------+---+
|  Name|Age|
+------+---+
|Dinesh| 34|
+------+---+

In [5]:
df_address = spark.read.csv("..\data\Address.csv",header=True)
df_address.show(5)
#spark.stop()

+---------+-------------------+------------+--------+-------------+-------------+----------+--------------------+--------------------+
|AddressID|       AddressLine1|AddressLine2|    City|StateProvince|CountryRegion|PostalCode|             rowguid|        ModifiedDate|
+---------+-------------------+------------+--------+-------------+-------------+----------+--------------------+--------------------+
|        9|  8713 Yosemite Ct.|        NULL| Bothell|   Washington|United States|     98011|268af621-76d7-4c7...|2006-07-01 00:00:...|
|       11|1318 Lasalle Street|        NULL| Bothell|   Washington|United States|     98011|981b3303-aca2-49c...|2007-04-01 00:00:...|
|       25|   9178 Jumping St.|        NULL|  Dallas|        Texas|United States|     75201|c8df3bd9-48f0-465...|2006-09-01 00:00:...|
|       28|   9228 Via Del Sol|        NULL| Phoenix|      Arizona|United States|     85004|12ae5ee1-fc3e-468...|2005-09-01 00:00:...|
|       32|  26910 Indela Road|        NULL|Montreal|       Quebec|       Canada|   H1Y 2H5|84a95f62-3ae8-4e7...|2006-08-01 00:00:...|
+---------+-------------------+------------+--------+-------------+-------------+----------+--------------------+--------------------+
only showing top 5 rows

In [10]:
spark.sql("select count(*), City from {df} group by City",df=df_address).show()

+--------+----------------+
|count(1)|            City|
+--------+----------------+
|       1|      Pnot-Rouge|
|       1|     Springfield|
|       1| North Las Vegas|
|       1|          Auburn|
|       4|         Phoenix|
|       2|        Winnipeg|
|       1|   Lake Elsinore|
|       1|       Bountiful|
|       2|       Clackamas|
|       1|          Monroe|
|       1|        Westland|
|       2|     Culver City|
|       1|         Hanford|
|       4|         Bothell|
|       3|         Everett|
|       6|          Ottawa|
|       1|North Sioux City|
|       1|        Lewiston|
|       6|          Dallas|
|       1|     Great Falls|
+--------+----------------+
only showing top 20 rows

In [11]:
df_address = spark.read.csv("..\data\Address.csv",header=True)
df_customer = spark.read.csv("..\data\Customer.csv",header=True)
df_customer_address = spark.read.csv("..\data\CustomerAddress.csv",header=True)

In [13]:
df_dim_customer_address = df_customer.join(df_customer_address,df_customer.CustomerID==df_customer_address.CustomerID) \
                                    .join(df_address,df_customer_address.AddressID==df_address.AddressID)
df_dim_customer_address.count()

417

In [15]:
spark.sql("select count(*) as Address_Count, StateProvince from {df} group by StateProvince",df=df_dim_customer_address).show()

+-------------+----------------+
|Address_Count|   StateProvince|
+-------------+----------------+
|            9|            Utah|
|            1|        Manitoba|
|            1|       Brunswick|
|            7|       Minnesota|
|           17|          Oregon|
|           37|           Texas|
|           13|         Alberta|
|            7|          Nevada|
|           48|      Washington|
|           14|        Illinois|
|            3|      New Mexico|
|           11|        Missouri|
|           51|         Ontario|
|            3|         Montana|
|           16|        Michigan|
|           17|British Columbia|
|            4|         Wyoming|
|           24|          Quebec|
|           13|         Arizona|
|           38|         England|
+-------------+----------------+
only showing top 20 rows

In [8]:
employee_data = [
    {'id': 1, 'name': 'Bob', 'department': 'Marketing', 'salary': 9104,
     'hire_date': '2018-12-29', 'ssn': '848-97-2099', 'performance_score': 3.6,
     'incentive_percent': 14.0, 'grade': 'D', 'grade_start_date': '2019-06-13',
     'grade_end_date': '2021-03-05'},

    {'id': 1, 'name': 'Bob', 'department': 'Marketing', 'salary': 9104,
     'hire_date': '2018-12-29', 'ssn': '848-97-2099', 'performance_score': 3.6,
     'incentive_percent': 14.0, 'grade': 'C', 'grade_start_date': '2019-03-28',
     'grade_end_date': '2020-08-12'},

    {'id': 2, 'name': 'Eve', 'department': 'HR', 'salary': 11405,
     'hire_date': '2019-09-16', 'ssn': '374-89-8340', 'performance_score': 4.8,
     'incentive_percent': None, 'grade': 'C', 'grade_start_date': '2019-11-23',
     'grade_end_date': '2021-02-13'},

    {'id': 3, 'name': 'Grace', 'department': 'Finance', 'salary': 8176,
     'hire_date': '2017-01-03', 'ssn': '850-34-8593', 'performance_score': 4.8,
     'incentive_percent': 15.1, 'grade': 'C', 'grade_start_date': '2017-05-29',
     'grade_end_date': '2019-04-12'},

    {'id': 4, 'name': 'Charlie', 'department': 'Marketing', 'salary': 5543,
     'hire_date': '2017-12-28', 'ssn': '471-89-7669', 'performance_score': 3.4,
     'incentive_percent': None, 'grade': 'C', 'grade_start_date': '2018-04-12',
     'grade_end_date': '2020-02-21'},

    {'id': 5, 'name': 'Grace', 'department': 'IT', 'salary': 11013,
     'hire_date': '2015-07-03', 'ssn': '950-10-4559', 'performance_score': None,
     'incentive_percent': 11.9, 'grade': 'D', 'grade_start_date': '2015-12-17',
     'grade_end_date': '2017-09-15'},

    {'id': 6, 'name': 'Eve', 'department': 'HR', 'salary': 7755,
     'hire_date': '2016-07-18', 'ssn': '653-29-5109', 'performance_score': None,
     'incentive_percent': 5.7, 'grade': 'A', 'grade_start_date': '2016-09-24',
     'grade_end_date': '2018-07-01'},

    {'id': 7, 'name': 'Bob', 'department': 'Sales', 'salary': 10888,
     'hire_date': '2016-06-16', 'ssn': '549-14-5445', 'performance_score': 3.9,
     'incentive_percent': 14.3, 'grade': 'A', 'grade_start_date': '2016-08-04',
     'grade_end_date': '2017-11-17'},

    {'id': 8, 'name': 'Alice', 'department': 'Finance', 'salary': 11532,
     'hire_date': '2015-02-01', 'ssn': '428-18-3432', 'performance_score': None,
     'incentive_percent': 19.0, 'grade': 'B', 'grade_start_date': '2015-07-27',
     'grade_end_date': '2017-02-17'},

    {'id': 9, 'name': 'Alice', 'department': 'Marketing', 'salary': 11169,
     'hire_date': '2018-02-28', 'ssn': '621-46-2389', 'performance_score': None,
     'incentive_percent': 11.8, 'grade': 'B', 'grade_start_date': '2018-06-26',
     'grade_end_date': '2019-08-22'},

    {'id': 10, 'name': 'Eve', 'department': 'Marketing', 'salary': 10591,
     'hire_date': '2017-12-15', 'ssn': '710-34-8871', 'performance_score': None,
     'incentive_percent': 7.1, 'grade': 'B', 'grade_start_date': '2018-05-21',
     'grade_end_date': '2019-07-19'},

    {'id': 11, 'name': 'Grace', 'department': 'Sales', 'salary': 7566,
     'hire_date': '2019-11-24', 'ssn': '685-73-7275', 'performance_score': None,
     'incentive_percent': None, 'grade': 'D', 'grade_start_date': '2020-01-10',
     'grade_end_date': '2020-09-20'},

    {'id': 12, 'name': 'Eve', 'department': 'IT', 'salary': 4874,
     'hire_date': '2016-02-16', 'ssn': '602-70-5971', 'performance_score': None,
     'incentive_percent': None, 'grade': 'B', 'grade_start_date': '2016-04-22',
     'grade_end_date': '2017-01-13'},

    {'id': 13, 'name': 'Bob', 'department': 'Finance', 'salary': 6067,
     'hire_date': '2015-02-18', 'ssn': '965-10-2064', 'performance_score': 2.8,
     'incentive_percent': 8.7, 'grade': 'E', 'grade_start_date': '2015-04-08',
     'grade_end_date': '2015-10-06'},

    {'id': 14, 'name': 'Eve', 'department': 'IT', 'salary': 10012,
     'hire_date': '2015-11-24', 'ssn': '479-14-9198', 'performance_score': None,
     'incentive_percent': 11.8, 'grade': 'E', 'grade_start_date': '2016-05-07',
     'grade_end_date': '2017-01-08'}
]
column_names = [
    "id", "name", "department", "salary", "hire_date", "ssn", 
    "performance_score", "incentive_percent", "grade", 
    "grade_start_date", "grade_end_date"
]

In [11]:
df = spark.createDataFrame(employee_data).select(column_names)

In [12]:
df.show(5,truncate=False)

+---+-------+----------+------+----------+-----------+-----------------+-----------------+-----+----------------+--------------+
|id |name   |department|salary|hire_date |ssn        |performance_score|incentive_percent|grade|grade_start_date|grade_end_date|
+---+-------+----------+------+----------+-----------+-----------------+-----------------+-----+----------------+--------------+
|1  |Bob    |Marketing |9104  |2018-12-29|848-97-2099|3.6              |14.0             |D    |2019-06-13      |2021-03-05    |
|1  |Bob    |Marketing |9104  |2018-12-29|848-97-2099|3.6              |14.0             |C    |2019-03-28      |2020-08-12    |
|2  |Eve    |HR        |11405 |2019-09-16|374-89-8340|4.8              |NULL             |C    |2019-11-23      |2021-02-13    |
|3  |Grace  |Finance   |8176  |2017-01-03|850-34-8593|4.8              |15.1             |C    |2017-05-29      |2019-04-12    |
|4  |Charlie|Marketing |5543  |2017-12-28|471-89-7669|3.4              |NULL             |C    |2018-04-12      |2020-02-21    |
+---+-------+----------+------+----------+-----------+-----------------+-----------------+-----+----------------+--------------+
only showing top 5 rows

In [13]:
spark.stop()